* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #0077be, #001f3f); /* Bleu clair vers bleu foncé */
  margin: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

.app-container {
  position: relative;
  width: 100vw;
  min-height: 300vh; /* Permet au conteneur de s'étendre au-delà de la hauteur de la fenêtre */
  overflow: hidden;
}

.canvas-container {
  position: fixed;  /* Reste en arrière-plan même en scrollant */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Met le canvas derrière tout */
}

.content-container {
  position: relative;
  z-index: 1; /* Met le contenu au-dessus du canvas */
  padding-top: 100vh; /* Ajoute un espace en haut pour le canvas */
}

.bubble {
  position: absolute;
  bottom: -100px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  opacity: 0.8;
  animation: rise 10s infinite;
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200vh);
  }
}